@charset "UTF-8";
:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  /* colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --footer-color: rgba(255, 255, 255, 0.6);
  /* transition */
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn, .portfolio-btn, .subscribe-btn, .submit-btn, .hero-btn {
  text-align: center;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

body {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

/* section */
.section {
  margin-top: 60px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    margin-top: 94px;
    margin-bottom: 94px;
  }
}
.section__title {
  margin-bottom: 30px;
  margin-top: 0;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 1.08px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
  }
}

/* reset */
ul {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

/* container */
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*  header-form button */
.menu-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  fill: #000000;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--accent-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: var(--primary-white-color);
  z-index: 9;
  -webkit-transform: translateX(140%);
          transform: translateX(140%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: -15px;
    width: 480px;
    height: 100vh;
    padding: 48px 40px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    text-align: center;
    font-size: 20px;
    z-index: 3;
    background-color: var(--primary-white-color);
  }
}
@media screen and (max-width: 767px) and (max-width: 479px) {
  .menu {
    width: 480px;
  }
}
@media screen and (max-width: 767px) {
  .menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-toggle-close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-socials__item {
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.22;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 400px) {
  .menu-socials__item {
    font-size: 12px;
  }
}
.menu-socials__item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

/* page-header */
.page-header {
  position: relative;
}

.nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ececec;
}
@media screen and (max-width: 767px) {
  .nav {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .site-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: left;
  }
  .site-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav {
    width: 284px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .site-nav__header {
    display: none;
  }
}

.site-nav__link {
  position: relative;
  display: block;
  color: var(--title-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
@media screen and (max-width: 767px) {
  .site-nav__link {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.8px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.28px;
  }
}
@media screen and (min-width: 768px) {
  .site-nav__link::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    opacity: 0;
  }
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav__link--current {
  color: var(--accent-color);
}
.site-nav__link--current::after {
  opacity: 1;
}

/*  contacts  */
@media screen and (min-width: 768px) {
  .navigation__contacts {
    margin-left: 90px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__contacts {
    margin-left: 315px;
  }
}

.contacts {
  margin-left: 0;
  margin-bottom: 64px;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .contacts__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__icon {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .contacts__icon {
    margin-right: 8px;
  }
  .contacts__icon--mail {
    width: 14px;
    height: 10px;
  }
  .contacts__icon--tel {
    width: 10px;
    height: 14px;
  }
}

@media screen and (max-width: 767px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;
  color: var(--primary-text-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .contacts__link {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
  .contacts__link--size {
    color: #2196f3;
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 0.68px;
  }
}
@media screen and (max-width: 767px) and (max-width: 400px) {
  .contacts__link--size {
    font-size: 27px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contacts__link {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.menu-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
@media screen and (min-width: 768px) {
  .menu-socials {
    display: none;
  }
}

/*  hero  button  */
.hero-btn {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.hero-btn:hover, .hero-btn:focus {
  background-color: #188ce8;
}

/*  submit button  */
.submit-btn {
  padding: 10px 52px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

/*  futer button  */
.subscribe-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 28px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.subscribe-btn__text {
  padding-left: 5px;
}
.subscribe-btn__icon {
  margin-left: 9px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--primary-white-color);
}

/*  portfolio button  */
.portfolio-btn {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.48px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.portfolio-btn:hover, .portfolio-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio-btn__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .portfolio-btn__list {
    width: 100%;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.portfolio-btn__item:not(:first-child) {
  margin-left: 8px;
}
@media screen and (max-width: 767px) {
  .portfolio-btn__item:nth-child(-n+3) {
    margin-bottom: 15px;
  }
  .portfolio-btn__item:nth-child(4) {
    margin-left: 0;
  }
}

.portfolio-btn--current {
  padding: 6px 25px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

/* social icons */
.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__icon {
  fill: currentColor;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: #afb1b8;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}
.socials__link:hover, .socials__link:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* footer socials */
.footer-socials {
  margin-left: 70px;
}

.socials__link--bottom {
  color: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}
.socials__link--bottom:hover, .socials__link--bottom:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/*  logo  */
.logo {
  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.72px;
  text-decoration: none;
  color: var(--accent-color);
}

/* logo footer */
.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .logo__footer {
    margin-left: 0;
    margin-right: 0;
  }
}

.logo__text--black {
  color: #000000;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.logo__text--black:hover {
  color: var(--accent-color);
}

.logo__text--white {
  color: var(--primary-white-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.logo__text--white:hover {
  color: var(--accent-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 93px 15px 15px;
  overflow-y: scroll;
  opacity: 1;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* modal */
.modal {
  position: relative;
  width: 99%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--primary-white-color);
}
@media screen and (min-width: 480px) {
  .modal {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 450px;
    -webkit-transform: translatex(-50%);
            transform: translatex(-50%);
    -webkit-transition: -webkit-transform 250ms var(--timing-function);
    transition: -webkit-transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function);
    transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    top: 208px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    top: 221px;
    max-width: 528px;
  }
}

/* modal-btn */
.modal-btn__icon {
  position: absolute;
  top: 8px;
  right: 8px;
  fill: #000000;
  stroke: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal-btn__icon:hover, .modal-btn__icon:focus {
  fill: var(--accent-color);
}

/* modal form */
.modal-form {
  padding: 40px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.12px;
  color: var(--primary-text-color);
}
.modal-form__title {
  display: inline-block;
  margin-bottom: 12px;
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
@media screen and (min-width: 1200px) {
  .modal-form__title {
    line-height: 1.2;
  }
}
.modal-form__group {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  text-align: left;
}
.modal-form__label {
  margin-bottom: 4px;
}
.modal-form__textarea {
  margin-bottom: 20px;
}

.modal-form__input {
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-form__input:focus {
  border-color: var(--accent-color);
  outline: transparent;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--title-text-color);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__comment {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-form__comment:focus {
  border-color: var(--accent-color);
  outline: transparent;
}
.modal-form__comment::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.12px;
}
.modal-form__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.12px;
}
.modal-form__comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.12px;
}
.modal-form__comment::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.12px;
}
.modal-form__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.12px;
}

/* modal form */
.modal-form__policy {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  margin-bottom: 31px;
}
@media screen and (min-width: 1200px) {
  .modal-form__policy {
    margin-left: 12px;
  }
}
.modal-form__policy-label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.36px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .modal-form__policy-label {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.42px;
  }
}
.modal-form__policy-span {
  color: #2196f3;
  text-decoration-line: underline;
}

.form-policy-desc {
  text-align: left;
}

.modal-form__heckbox-custom {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  color: #212121;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.modal-form__checkbox:focus ~ .modal-form__heckbox-custom {
  border-color: var(--accent-color);
}

.modal-form__checkbox-check {
  position: absolute;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function);
}
.modal-form__checkbox:checked ~ .modal-form__checkbox-check {
  opacity: 1;
  fill: var(--accent-color);
}

/*  hero  */
.hero {
  text-align: center;
  color: var(--primary-white-color);
}
.hero__container {
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__title {
  width: 360px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-align: center;
  text-transform: uppercase;
}
@media screen and (max-width: 390px) {
  .hero__title {
    width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 2.64px;
  }
}

.overlay {
  position: relative;
  max-width: 1600px;
  height: 400px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: url(../images/hero/hero_sm.jpg), -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color)), to(var(--hero-bg-color)));
  background-image: url(../images/hero/hero_sm.jpg), linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/hero_sm@2x.jpg), -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color)), to(var(--hero-bg-color)));
    background-image: url(../images/hero/hero_sm@2x.jpg), linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: url(../images/hero/hero_md.jpg), -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color)), to(var(--hero-bg-color)));
    background-image: url(../images/hero/hero_md.jpg), linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/hero_md@2x.jpg), -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color)), to(var(--hero-bg-color)));
    background-image: url(../images/hero/hero_md@2x.jpg), linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    background-image: url(../images/hero/hero_lg.jpg), -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color)), to(var(--hero-bg-color)));
    background-image: url(../images/hero/hero_lg.jpg), linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url(../images/hero/hero_lg@2x.jpg), -webkit-gradient(linear, left top, left bottom, from(var(--hero-bg-color)), to(var(--hero-bg-color)));
    background-image: url(../images/hero/hero_lg@2x.jpg), linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  }
}

/*  advantages  */
.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
}
@media screen and (max-width: 479px) {
  .advantages__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.advantages__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 30px) / 1);
      flex-basis: calc((100% - 30px) / 1);
}
@media screen and (min-width: 768px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantages__item {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-align: left;
  color: var(--title-text-color);
  text-transform: uppercase;
}
@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}
.advantages__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border-radius: 4px;
  background: #f5f4fa;
  margin-bottom: 30px;
}

/* напрямки діяльності */
.section-directions {
  display: none;
}
@media screen and (min-width: 1200px) {
  .section-directions {
    display: block;
  }
}

.directions__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.directions__text {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.directions__item {
  position: relative;
  z-index: -1;
}
.directions__item:not(:first-child) {
  margin-left: 30px;
}

/* команда */
.team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  margin: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__member {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 30px) / 1);
      flex-basis: calc((100% - 30px) / 1);
  border-radius: 0px 0px 4px 4px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background: var(--primary-white-color);
}
@media screen and (min-width: 768px) {
  .team__member {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__member {
    -ms-flex-preferred-size: calc((100% - 120px) / 4);
        flex-basis: calc((100% - 120px) / 4);
  }
}

.member__group {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .member__group {
    padding-bottom: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .member__group {
    padding-bottom: 30px;
  }
}
.member__title {
  margin-top: 0;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
  color: var(--title-text-color);
}
.member__position {
  text-align: center;
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.2;
  letter-spacing: 0.48px;
}

/* постійні клієнти */
.clients-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px -15px 0;
}

.clients__item {
  margin: 15px;
  -ms-flex-preferred-size: calc((100% - 60px) / 2);
      flex-basis: calc((100% - 60px) / 2);
}
.clients__item:nth-last-child(-n+2) {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
  .clients__item:nth-last-child(-n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 180px) / 6);
        flex-basis: calc((100% - 180px) / 6);
    margin: 15px 15px 0;
  }
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--accent-color);
}
@media screen and (max-width: 767px) {
  .clients__link {
    max-width: 210px;
  }
}
@media screen and (min-width: 768px) {
  .clients__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    width: 170px;
  }
}

.clients__icon {
  fill: #afb1b8;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

/* Portfolio */
.card__portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -15px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.card__item {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: calc((100% - 30px) / 1);
      flex-basis: calc((100% - 30px) / 1);
}
@media screen and (min-width: 768px) {
  .card__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .card__item:first-child .card__dir-wrapper {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.card__dir-wrapper {
  padding: 20px 24px;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  background-color: var(--primary-white-color);
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .card__dir-wrapper {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .card__dir-wrapper {
    width: 370px;
  }
}
.card__img-wrapper {
  position: relative;
  overflow: hidden;
}
.card__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1.08px;
  color: var(--title-text-color);
}
.card__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.48px;
  color: var(--primary-text-color);
}

.card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.card-overlay {
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 294px;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.card-overlay__text {
  font-size: 18px;
  font-style: 1.2;
  font-weight: 400;
  line-height: 1.55;
  letter-spacing: 0.54px;
  color: #fff;
}
.card__link:hover .card-overlay, .card__link:focus .card-overlay {
  -webkit-transform: translate(0);
          transform: translate(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

/* footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  color: var(--primary-white-color);
}
.footer__title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.42px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 1200px) {
  .footer-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer-base {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-coords {
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .footer-coords {
    margin-left: 0;
  }
}

.footer-contacts__list {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__list {
    margin: 0;
  }
}
.footer-contacts__item {
  margin-top: 9px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer-contacts__item {
    text-align: left;
  }
}
.footer-contacts__link {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-socials {
    margin-left: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    width: 206px;
    margin: 0 0 0 70px;
  }
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-color);
}

/* footer subscribe */
.subscribe__footer {
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .subscribe__footer {
    margin-left: 93px;
    margin-right: 0;
  }
}
.subscribe__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .subscribe__items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.subscribe__input {
  height: 50px;
  padding: 15px 16px;
  border-radius: 4px;
  margin-right: 0;
  margin-bottom: 20px;
  width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: transparent;
  background: rgba(33, 150, 243, 0);
  -webkit-transition: outline 250ms var(--timing-function);
  transition: outline 250ms var(--timing-function);
}
@media screen and (max-width: 480px) {
  .subscribe__input {
    width: 280px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe__input:not(:-moz-placeholder-shown) {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -2px;
  color: var(--primary-white-color);
}

.subscribe__input:not(:-ms-input-placeholder) {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -2px;
  color: var(--primary-white-color);
}

.subscribe__input:focus, .subscribe__input:not(:placeholder-shown) {
  outline: 1px solid rgba(255, 255, 255, 0.3);
  outline-offset: -2px;
  color: var(--primary-white-color);
}/*# sourceMappingURL=main.css.map */