/* modal form */

.modal-form__policy {
  justify-content: center;
  margin-left: 0;

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
  margin-bottom: 31px;

  &-label {
    position: relative;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.2;
      letter-spacing: 0.36px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.42px;
    }

    cursor: pointer;
  }

  &-span {
    color: #2196f3;

    text-decoration-line: underline;
  }
}

.form-policy-desc {
  text-align: left;
}

.modal-form__heckbox-custom {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;

  color: #212121;

  transition: border-color 250ms var(--timing-function);

  .modal-form__checkbox:focus ~ & {
    border-color: var(--accent-color);
  }
}

.modal-form__checkbox-check {
  position: absolute;
  left: 0;
  opacity: 0;

  transition: opacity 250ms var(--timing-function);

  .modal-form__checkbox:checked ~ & {
    opacity: 1;
    fill: var(--accent-color);
  }
}
