/*  contacts  */

.navigation__contacts {
  @media screen and (min-width: 768px) {
    margin-left: 90px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 315px;
  }
}

.contacts {
  margin-left: 0;
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }

  &__icon {
    @media screen and (min-width: 768px) {
      fill: currentColor;
      margin-right: 10px;
    }
  }
}

.contacts__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (max-width: 1199px) {
    margin-right: 8px;

    &--mail {
      width: 14px;
      height: 10px;
    }

    &--tel {
      width: 10px;
      height: 14px;
    }
  }
}

.contacts__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.28px;

  color: var(--primary-text-color);

  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @media screen and (max-width: 767px) {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.48px;

    &--size {
      color: #2196f3;
      font-size: 34px;
      font-weight: 500;
      letter-spacing: 0.68px;

      @media screen and (max-width: 400px) {
        font-size: 27px;
      }
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    letter-spacing: 0.24px;
  }
}

.menu-socials {
  &__list {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
