/*  logo  */

.logo {
  font-family: var(--secondary-font);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.78px;
  text-decoration: none;

  color: var(--accent-color);
}

/* logo footer */

.logo__footer {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__text--black {
  color: #000000;
  transition: color 250ms var(--timing-function);

  &:hover {
    color: var(--accent-color);
  }
}

.logo__text--white {
  color: var(--primary-white-color);
  transition: color 250ms var(--timing-function);

  &:hover {
    color: var(--accent-color);
  }
}
