.btn {
  text-align: center;
  font-size: 16px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  // background-color: var(--accent-color);
  // color: var(--primary-white-color);

  // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
