:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  /* colors */
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --hero-bg-color: rgba(47, 48, 58, 0.4);
  --footer-color: rgba(255, 255, 255, 0.6);

  /* transition */

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  /* grid-items */

  /* --items: 1;
  /* --indent: 30px;  */
}
