/*  advantages  */

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (max-width: (479px)) {
    flex-direction: column;
  }
}

.advantages__item {
  margin: 15px;
  @media screen and (min-width: 360px) {
    flex-basis: calc((100% - 30px) / 1);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages {
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-align: left;

    color: var(--title-text-color);

    text-transform: uppercase;

    @media screen and (max-width: (767px)) {
      text-align: center;
    }
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
  }
}
