/*  advantages  */

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.advantages__item {
  @include mq(mobile) {
    flex-basis: calc((100% - 30px) / 1);
    margin: 15px;
  }

  @include mq(tablet) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @include mq(desctop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages {
  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.42px;
    @include mq(mobile-only) {
      text-align: center;
    }
    text-align: left;

    color: var(--title-text-color);

    text-transform: uppercase;
  }

  &__image {
    @include mq(tablet) {
      display: flex;
    }
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
  }
}
