/*  advantages  */

.advantages-list {
  margin: 0 -15px;

  @include mq(mobile-only) {
    display: block;
  }
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.42px;
    @include mq(mobile-only) {
      text-align: center;
    }
    text-align: left;

    color: var(--title-text-color);

    text-transform: uppercase;
  }

  &__image {
    @include mq(tablet) {
      display: flex;
    }
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 120px;
    border-radius: 4px;
    background: #f5f4fa;
    margin-bottom: 30px;
  }
}

.advantages-list__item {
  @include mq(mobile) {
    margin: 15px 15px 30px;
  }

  @include mq(tablet) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 0 15px 30px;

    &:nth-last-child(-n + 2) {
      margin: 0 15px;
    }
  }

  @include mq(desctop) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
