/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: #2f303a;
  color: var(--primary-white-color);

  &__title {
    display: block;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.42px;
    text-align: center;
    text-transform: uppercase;

    color: #fff;
  }
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  flex-direction: column;

  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}

.footer-base {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.footer-address {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.footer-coords {
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    margin-left: 0;
  }
}

.footer-contacts {
  &__list {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
      margin: 0;
    }
  }

  &__item {
    margin-top: 9px;
    text-align: center;

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__link {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;

    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--timing-function);
  }
}

.footer-socials {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 165px;
  }

  @media screen and (min-width: 1200px) {
    width: 206px;
    margin: 0 0 0 70px;
  }
}

.footer-contacts__link {
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

/* footer subscribe */

.subscribe {
  &__footer {
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      margin-right: 0;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1200px) {
      flex-direction: row;
    }
  }

  &__input {
    height: 50px;
    padding: 15px 16px;
    border-radius: 4px;
    margin-right: 0;
    margin-bottom: 20px;
    width: 450px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    outline: transparent;

    background: rgba(33, 150, 243, 0);

    transition: outline 250ms var(--timing-function);

    @media screen and (max-width: 480px) {
      width: 280px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 12px;
      width: 358px;
    }
  }
}

.subscribe__input {
  &:focus,
  &:not(:placeholder-shown) {
    outline: 1px solid rgba(255, 255, 255, 0.3);
    outline-offset: -2px;
    color: var(--primary-white-color);
  }
}
