/*  hero  */

.hero {
  text-align: center;
  color: var(--primary-white-color);

  &__container {
    padding-top: 118px;
    padding-bottom: 118px;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }

  &__title {
    width: 360px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    font-weight: 900;
    line-height: 1.61;
    letter-spacing: 1.56px;

    @media screen and (max-width: 390px) {
      width: 300px;
    }

    @media screen and (min-width: 1200px) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
      letter-spacing: 2.64px;
    }

    text-align: center;
    text-transform: uppercase;
  }
}

.overlay {
  position: relative;
  max-width: 1600px;
  height: 400px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;

  background-image: url(../images/hero/hero_sm.jpg),
    linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  background-size: cover;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/hero/hero_sm@2x.jpg),
      linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/hero_md.jpg),
      linear-gradient(var(--hero-bg-color), var(--hero-bg-color));

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero_md@2x.jpg),
        linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
    }
  }

  @media screen and (min-width: 1200px) {
    height: 600px;
    background-image: url(../images/hero/hero_lg.jpg),
      linear-gradient(var(--hero-bg-color), var(--hero-bg-color));

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/hero/hero_lg@2x.jpg),
        linear-gradient(var(--hero-bg-color), var(--hero-bg-color));
    }
  }

  background-position: center;
}
